<section class="mb-lg-9 mb-8 mt-6">
    <div class="container">
      <div class="row" *ngIf="data?.length <=0 && this.status === 404" >
        <div class="col-sm-12 col-sm-8 col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h1>Hey it feels so lightweight.</h1>
              <p>please add to cart && and enjoy </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="data?.length>0 && this.status !== 404">
        <div class="col-lg-8 col-md-7" >
          <div class="card  d-none d-md-block" >
         <div class="card-body">
   
           <ul class="list-group list-group-flush"  *ngFor="let data of data;  let i = index">
          
             <li class="list-group-item py-3  py-lg-0 px-0 border-bottom mb-3">
             
               <div class="row align-items-center">
                 <div class="col-3 col-md-3 col-sm-3">
                  <img [src]="imagePath+data?.productId.productImage" alt="Ecommerce"
                     class="icon-shape icon-xxl"></div>
                 <div class="col-3 col-md-3 col-sm-3">
                
                   <a class="text-inherit"><h6 class="mb-0">{{data?.productId.productname}}</h6></a>
                   <span><small class="text-muted"> <i class="bi bi-currency-rupee"></i>
                    {{data?.productId.price}}</small>
                     
                   </span>
                  
                 
                 </div>
                
                 <div class="col-2 col-md-2 col-sm-2">
                  
                 <div class="input-group input-spinner">
                   <div class="input-group input-spinner  ">
                     <button type="submit" (click)="quantity('max' ,i ,data.quantity ,data.productId._id)
                     " value="-" 
                     class="button-minus  btn  btn-sm " data-field="quantity"><i class="bi bi-plus-lg"></i></button>
                     <input type="number" min="1" max="10" value="{{data.quantity}}" name="quantity" class="quantity-field form-control-sm form-input   ">
                     <button type="submit" (click)="quantity('min' ,i ,data.quantity ,data.productId._id)" value="+" class="button-plus btn btn-sm " data-field="quantity"><i class="bi bi-dash-lg"></i></button>
                   </div>
                 </div>
                
 
                 </div>
                 <div class="col-2 col-md-2 col-sm-2">
                   <div class="small lh-1 mx-5"> <a (click)="deletecartItem(data?.productId._id)"
                     class="text-decoration-none text-inherit"> <span
                         class="align-text-bottom">
                         <i  class="bi bi-trash fs-4"></i>
                         </span><span class="text-muted d-none">Delete</span></a></div>
                 </div>
                 <div class="col-2 col-md-2">
                   <div class="small lh-1 mx-3"> <a (click)="movetoWishList(data?.productId._id)"
                     class="text-decoration-none text-inherit"> <span
                         class="align-text-bottom">
                         <i class="bi bi-heart fs-4"></i>
                         </span><span class="text-muted d-none">Save to List</span></a></div>
                 </div>
               </div>
              
             </li>
 
           </ul>
          
         </div>
       </div>
       <div class="d-block d-md-none m-3">
         <ng-container  *ngFor="let data of data;  let i = index" >
           <div class="card mb-3">
             <div class="card-body">
               <div class="d-flex align-items-center">
                 <img  [src]="imagePath+data.productId?.productImage"class="icon-shape icon-xl" style="width: 50px;">
                 <div>
                   <a class="text-inherit"><h6 class="mb-0">{{data?.productId.productname}}</h6></a>
                   <span><small class="text-muted"> <i class="bi bi-currency-rupee"></i>{{data?.productId.price}}</small>
                   </span>
               
                
               <div class="input-group input-spinner">
                 <div class="input-group input-spinner  ">
                   <button type="submit" (click)="quantity('max' ,i ,data.quantity ,data.productId._id)
                   " value="-" 
                   class="button-minus  btn  btn-sm " data-field="quantity"><i class="bi bi-plus-lg"></i></button>
                   <input type="number" min="1" max="10" value="{{data.quantity}}" name="quantity" class="quantity-field form-control-sm form-input   ">
                   <button type="submit" (click)="quantity('min' ,i ,data.quantity ,data.productId._id)" value="+" class="button-plus btn btn-sm " data-field="quantity"><i class="bi bi-dash-lg"></i></button>
                 </div>
               </div>
             </div>
           </div>
             </div>
             <div class="card-footer bg-transparent border-success">
           
             
                     <a (click)="deletecartItem(data?.productId._id)"  
                     class="m-2"><i class="bi bi-cart2 fs-4"></i></a>
                     <a (click)="movetoWishList(data?.productId._id)" 
                       class="m-2"><i class="bi bi-trash fs-4"></i></a>
                   </div> 
           </div>
             
         
         
         </ng-container>
       </div>
        </div>

        <div class="col-lg-4 col-lg-4 col-md-5">
   
          <div class="mb-5 card">
            <div class="card-body p-6">
             
              <h2 class="h5 mb-4">Summary</h2>
              <div class="card mb-2">
               
                <ul class="list-group list-group-flush" *ngFor="let data of data;  let i = index">
               
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="me-auto">
                      <div>{{data?.productId.productname}}</div>

                    </div>
                    <span> 
                      <i class="bi bi-currency-rupee"></i>  {{data.quantity*data.productId.price}}
                    </span>
                  </li>

                  
                 
                </ul>

              </div>
              <div class="d-grid mb-1 mt-4">
             
                <button routerLink="../checkout/{{userId}}" class="btn btn-primary btn-lg d-flex justify-content-between align-items-center" type="submit">
                  Go to Checkout <span class="fw-bold"><i class="bi bi-currency-rupee"></i>{{updateprices}}</span></button>
              </div>
           
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box"
 [fullScreen]="true">
   <span style="color: white; display: flex; align-items: center;">
     <i class="bi bi-cart4" style="font-size: 24px; margin-right: 10px;"></i>
     Loading...
   </span>
 </ngx-spinner>