<div class="border-bottom shadow-sm">
  <nav class="navbar navbar-light py-2">
    <div class="container justify-content-center justify-content-lg-between">
     <a class="navbar-brand d-none d-lg-block" routerLink="/">
        <i class="bi bi-cart4" style="font-size: 35px; color: #0aad0a;"></i>
        <span class="fw-bold">Shoppingbuzz</span>
      </a>
      <!-- <span class="navbar-text">
        Already have an account? <a  class="btn btn-primary" style="color: #fff;" routerLink="/login">Sign in</a>
      </span> -->
    </div>
  </nav>
</div>
<section class="my-lg-14 my-8">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
          <a class="navbar-brand d-none d-lg-block" routerLink="/">
            <i class="bi bi-cart4" style="font-size: 35px; color: #0aad0a;"></i>
            <span class="fw-bold">Shoppingbuzz</span>
          </a>
        </div>
        <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1">
          <div class="mb-lg-9 mb-5">
            <h1 class="mb-1 h2 fw-bold">Reset Password</h1>
            <p>Enter your new password below.</p>
          </div>
  
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetpassword()">
            <div class="row g-3">
              <div class="col-12">
                 <div class="password-field position-relative">
                    <input [type]="passwordFieldType" formControlName="password" class="form-control"  placeholder="New Password" required>
                    <span class="position-absolute top-50 end-0 translate-middle-y pe-2" (click)="togglePasswordVisibility()">
                      <i [ngClass]="passwordFieldType === 'password' ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                    </span>
                  </div>
              </div>
              <div class="col-12 d-grid">
                <button type="submit" class="btn btn-primary">Reset Password</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  