
::ng-deep .navbar .dropdown .dropdown-toggle:after {
   display: none;
}

.dropdown-item {
    font-size: smaller;
    word-wrap: break-word; /* For older browsers */
    overflow-wrap: break-word; /* Preferred property */
    word-break: break-word; /* Ensure long words break correctly */
    max-width: 100%; /* Ensure the item doesn't overflow its container */
    white-space: normal; /* Allow text to wrap */
}

.dropdown-item:last-child {
    border-bottom: 0;
}

.dropdown-item.active, .dropdown-item:hover {
    background-color: var(--fc-gray-100);
    text-decoration: none;
}

.dropdown-item:hover {
    color: var(--fc-gray-800) !important;
}
