

<header class="py-lg-5 py-4 px-0 border-bottom border-bottom-lg-0"
 *ngIf="router.url !== '/login' && router.url !== '/singup' && router.url !=='/reset-password'
 && router.url !== '/forgot-password' &&  router.url !== '**'">
   <div class="container-fluid">
      <div class="row w-100 align-items-center g-0 gx-lg-3">
         <div class="col-xxl-9 col-lg-8">
            <div class="d-flex align-items-center">
               <a class="navbar-brand d-none d-lg-block" routerLink="/">
                  <i class="bi bi-cart4 logosize" ></i>
                  <span class="fw-bold">Shoppingbuzz</span>
               </a>
               <div class=" w-100 ms-4  d-none d-lg-block ">
                  <form action="#">
                     <div class="input-group">
                        <select class="form-select" (change)="onCategoryChange($event)">
                           <option selected>All Categories</option>
                           <option *ngFor="let data of categoryData?.category;  let i = index" [value]="data._id"> <a
                              [routerLink]="['/product',
                              data._id]"> {{ data?.categoryname}}</a>
                           </option>

                        </select>
                        <input type="text" class="form-control" [(ngModel)]="searchValue" [ngModelOptions]=" 
                              {standalone: true}" (keyup)="searchProduct(searchValue)"
                           placeholder="Job title, keywords, or company">

                        <!-- <button   (click)="seachbyInput()" class="input-group-text bg-transparent" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                               class="feather feather-search">
                               <circle cx="11" cy="11" r="8"></circle>
                               <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                            </svg>
                         </button> -->
                     </div>
                  </form>
               </div>
            </div>
            <div class="d-flex justify-content-between w-100 d-lg-none">
               <a class="navbar-brand" routerLink="/">
                  <i class="bi bi-cart4 logosize"></i>
                  <span class="fw-bold">Shoppingbuzz</span>
               </a>
               <div class="d-flex align-items-center lh-1">
                  <div class="list-inline me-0">
                     <div class="list-inline-item">
                        <a (click)="navigateTowishLlist()" class="text-muted position-relative"
                        >
                           <i class="bi bi-heart fs-4" ></i>
                           <span
                              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                              {{wishListCount}}
                             
                           </span>
                        </a>
                     </div>
                    
                        <div class="list-inline-item">
                           <div class="dropdown">
                             <a  *ngIf="userData === null"  class="text-muted position-relative " role="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-person-circle fs-4 mx-2"></i>
                     
                    </a>
                    
                    <a  *ngIf="userData != null"  class="text-muted position-relative" role="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                     <div class="user-avatar">
                        {{ userInitial }}
                      </div>
                    
                   </a>
                             
                             <ul class="dropdown-menu dropdown-menu-end" 
                             aria-labelledby="profileDropdown">
                               <div class="px-4 py-3"  *ngIf="userData === null">
                                 <h6>Welcome</h6>
                                 <p class="mb-2">To access account and manage orders</p>
                                 <button class="btn btn-outline-primary w-100" (click)="navigateToLogin()">LOGIN / SIGNUP</button>
                               </div>
                               <div class="px-4 py-3"  *ngIf="userData !== null">
                                 <h6>Hello!</h6>
                                 <p class="mb-2 mb-0  small">{{ userData?.firstName}}{{ userData?.lastName
                              }}</p>
                                  <p class="mb-2 mb-0  small">{{ userData?.email}}</p>
                               </div>
                               <li><hr class="dropdown-divider"></li>
                               <li><a class="dropdown-item" href="#">Contact Us</a></li>
                               <li><hr class="dropdown-divider"></li>
                               <li><a class="dropdown-item" href="#">Support_shoppingbuzz.com</a></li>
                               <li *ngIf="auth?.userValue != null"><hr class="dropdown-divider"></li>
                              <li *ngIf="auth?.userValue != null"><a class="dropdown-item" href="forgot-password.html">My Account</a></li>
                              <li *ngIf="auth?.userValue != null"><a class="dropdown-item" (click)="auth.logout()">Log Out</a></li>
                              </ul>
                           </div>
                         </div>
                     
                     <div class="list-inline-item">
                        <a class="text-muted position-relative" 
                     
                        (click)="navigateTomyOrder()"  role="button">
                           <i class="bi bi-archive  fs-4"></i>
                          
                        </a>
                     </div>
                     <div class="list-inline-item">
                        <a class="text-muted position-relative " (click)="navigateTocart()" role="button">
                           <i class="bi bi-cart2 fs-4"></i>
                           <span
                              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                              {{ cartCount}}
                            
                           </span>
                        </a>
                     </div>
                  </div>

                  <button class="navbar-toggler collapsed" type="button" data-bs-toggle="offcanvas"
                     data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false"
                     aria-label="Toggle navigation">
                     <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-text-indent-left text-primary" viewBox="0 0 16 16">
                        <path
                           d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm.646 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L4.293 8 2.646 6.354a.5.5 0 0 1 0-.708zM7 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                     </svg>
                  </button>
               </div>
            </div>
         </div>
         <!--web view-->
         <div class="col-xxl-3 col-lg-4 d-flex align-items-center ">
            <div class="list-inline ms-auto d-lg-block d-none">
               <div class="list-inline-item">
                  <div class="text-center">
                     <a (click)="navigateTowishLlist()" class="text-muted position-relative">
                        <span class="position-absolute my-1 mx-4 top-0 translate-middle badge 
                        rounded-pill bg-danger">
                           {{ wishListCount}}
                           
                        </span>
                     <div>
                        <i class="bi bi-heart fs-4"></i>
                        
                     </div>
                     <p class="mb-0 d-none d-xl-block small">My wishList</p>
                    
                  </a>
                  </div>
               </div>
               <div class="list-inline-item">
                  <div class="dropdown">
                    <!-- Show this if userData is null (not logged in) -->
                    <a *ngIf="userData === null" class="text-muted position-relative" role="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-person-circle fs-4 mx-2"></i>
                      <p class="mb-0">Profile</p>
                    </a>
                    
                    <!-- Show this if userData is not null (logged in) -->
                    <a *ngIf="userData !== null" class="text-muted position-relative" role="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                      <div class="user-avatar ">
                        {{ userInitial }}
                      </div>
                      <p class="mb-0">{{ userData.firstName }} {{ userData.lastName }}</p>
                    </a>
                    
                    <!-- Dropdown menu -->
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                      <!-- When userData is null (user is not logged in) -->
                      <div class="px-4 py-3" *ngIf="userData === null">
                        <h6>Welcome</h6>
                        <p class="mb-2">To access account and manage orders</p>
                        <button class="btn btn-outline-primary w-100" (click)="navigateToLogin()">LOGIN / SIGNUP</button>
                      </div>
                
                      <!-- When userData is not null (user is logged in) -->
                      <div class="px-4 py-3" *ngIf="userData !== null">
                        <h6>Hello!</h6>
                        <p class="mb-2 mb-0 small">{{ userData?.firstName }} {{ userData?.lastName }}</p>
                        <p class="mb-2 mb-0 small">{{ userData?.email }}</p>
                      </div>
                
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Contact Us</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Support_shoppingbuzz.com</a></li>
                      
                      <!-- Show additional options when user is logged in -->
                      <li *ngIf="userData !== null"><hr class="dropdown-divider"></li>
                      <li *ngIf="userData !== null"><a class="dropdown-item" href="forgot-password.html">My Account</a></li>
                      <li *ngIf="userData !== null"><a class="dropdown-item" (click)="auth.logout()">Log Out</a></li>
                    </ul>
                  </div>
                </div>
                
               
               <div class="list-inline-item">
                  <a class="text-muted position-relative" 
                  (click)="navigateTomyOrder()"  role="button">
                     
                     <div class="text-center">
								<div>
                           <i class="bi bi-archive fs-4"></i>
								</div>
								<p class="mb-0 d-none d-xl-block small">My Order</p>
                       
							</div>
                    
                     <!-- <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                        {{ cartCount}}
                        <span class="visually-hidden">unread messages</span>
                     </span> -->
                  </a>
               </div>
               <div class="list-inline-item">
                  <a class="text-muted position-relative" (click)="navigateTocart()"  role="button">
                     <div class="text-center">
								<div>
									<i class="bi bi-cart2 fs-4"></i>
								</div>
								<p class="mb-0 d-none d-xl-block small">Shopping Cart</p>
                        <span class="position-absolute  my-1 mx-4 top-0 translate-middle badge rounded-pill bg-danger">
                           {{ cartCount}}
                           
                        </span>
							</div>
                    
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>


<nav class="navbar navbar-expand-lg bg-primary  navbar-light navbar-default py-0 pb-lg-4"
   aria-label="Offcanvas navbar large" *ngIf="router.url !== '/login' && router.url !== '/singup' && router.url !=='/forgot-password'
  &&router.url !=='/reset-password' &&  router.url !== '**'">
   <div class="container">
      <div class="offcanvas offcanvas-start" tabindex="-1" 
      id="navbar-default" aria-labelledby="navbar-defaultLabel">
         <div class="offcanvas-header pb-1">
          <a class="navbar-brand  d-lg-block" routerLink="/">
            <i class="bi bi-cart4" style="font-size: 35px; color: #0aad0a;"></i>
            <span class="fw-bold">Shoppingbuzz</span>
         </a>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
               aria-label="Close"></button>
         </div>
         <div class="offcanvas-body">
            <div class="d-block d-lg-none mb-4">
               <form action="#">
               <div class="input-group">
               <input type="text" class="form-control" [(ngModel)]="searchValue" [ngModelOptions]=" 
               {standalone: true}" (keyup)="searchProduct(searchValue)"
               placeholder="Job title, keywords, or company">
             
               <span class="input-group-append">
                     <button class="btn-action mb-1" type="button" data-bs-dismiss="offcanvas"  (click)="searchProduct(searchValue);">
                        <i class="bi bi-search"></i>
                     </button>
                  </span>
               </div>
                 
               </form>
               
            </div>
           
            <div class="d-none d-lg-block">
               <i class="bi bi-bag text-white" style="font-size: 25px; margin: 10px;"></i>
            </div>
            <div class="d-lg-none d-none">
               <i class="bi bi-bag text-white" style="font-size: 25px; margin: 10px;"></i>
            </div>
            
        
            <div>
               <ul class="navbar-nav align-items-center">
                  <li class="nav-item dropdown w-100 w-lg-auto" 
                     *ngFor="let  categorydata of categoryData?.category;let i = index">
                     <a class="nav-link dropdown-toggle " [routerLink]="['/product',
                      categorydata._id]" role="button"
                 
                        data-bs-toggle="dropdown" aria-expanded="false"> 
                        {{ categorydata.categoryname}}</a>
                     <ul class="dropdown-menu">
                        <li class="dropdown-submenu dropend">
                        <a class="dropdown-item dropdown-list-group-item dropdown-toggle" [routerLink]="['/product',
                        categorydata._id]" role="button"
                    data-bs-dismiss="offcanvas"
                          data-bs-toggle="dropdown" aria-expanded="false"> 
                          {{ categorydata.categoryname}} All</a>
                        </li>
                        <li class="dropdown-submenu dropend"
                           *ngFor="let data of subcategoryData?.subcategory;let i = index">
                           <a class="dropdown-item dropdown-list-group-item dropdown-toggle"
                             [routerLink]="['/product', data._id]"  
                             *ngIf="categorydata._id === data.CategoryId._id"
                             data-bs-dismiss="offcanvas"
                             >{{
                              data?.subcategoryname}}</a>
                           <ul class="dropdown-menu">
                              <li *ngFor="let categoryData_ of compareCategory?.product;let i = index">
                                 <a
                                 data-bs-dismiss="offcanvas"
                                    [routerLink]="['/product', categoryData_._id]" 
                                    *ngIf="data._id === categoryData_.SubCategoryId._id" class="dropdown-item"
                                    >
                                    {{categoryData_?.productname}}</a></li>
                           </ul>
                        </li>

                     </ul>

                  </li>


               </ul>
            </div>
         </div>
      </div>
   </div>
</nav>