@media (max-width: 768px) {
    .img-fluid {
        display: block;
        width: 300px;
        height: 300px;
        object-fit: inherit;
        object-position: inherit;
    }
}
.logosize{
    font-size: 35px; color: #0aad0a;
 }
 @media (min-width:320px) and (max-width:425px)   {
    .logosize{
        font-size: 20px; color: #0aad0a;
     }
}
