

<div class="mt-8 mb-lg-14 mb-8">
  
  <div class="container">
       <app-shoppingcart [categorytdata]="pushcategoryData"  
      [subcategorytdata]="pushsubcategoryData" [pushproductdata] ="pushproductdata"
      [routeId]="this.id" [getallData]="this.getallData"
      [getSearchData]="searchData"
      ></app-shoppingcart>    
       
     
    <!-- </div> -->
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box"
[fullScreen]="true">
  <span style="color: white; display: flex; align-items: center;">
    <i class="bi bi-cart4" style="font-size: 24px; margin-right: 10px;"></i>
    Loading...
  </span>
</ngx-spinner>








<!-- <div class="container">
 
<div class="row gx-10">
<app-filtersidebar></app-filtersidebar>
<section class="col-lg-9 col-md-12">
    
       
       
      <app-shoppingcart [categorytdata]="pushcategoryData"  
      [subcategorytdata]="pushsubcategoryData" [pushproductdata] ="pushproductdata"
      [routeId]="this.id"
      ></app-shoppingcart>    
   
</section>
  </div>
</div> -->