

<div class="mt-8 mb-lg-14 mb-8">
  
  <div class="container">
       <app-shoppingcart [categorytdata]="pushcategoryData"  
      [subcategorytdata]="pushsubcategoryData" [pushproductdata] ="pushproductdata"
      [routeId]="this.id" [getCategoryData]="this.getCategoryData"
      ></app-shoppingcart>    
       
     
    <!-- </div> -->
  </div>
</div>









<!-- <div class="container">
 
<div class="row gx-10">
<app-filtersidebar></app-filtersidebar>
<section class="col-lg-9 col-md-12">
    
       
       
      <app-shoppingcart [categorytdata]="pushcategoryData"  
      [subcategorytdata]="pushsubcategoryData" [pushproductdata] ="pushproductdata"
      [routeId]="this.id"
      ></app-shoppingcart>    
   
</section>
  </div>
</div> -->