<div class="border-bottom shadow-sm">
    <nav class="navbar navbar-light py-2">
      <div class="container justify-content-center justify-content-lg-between">
        <a class="navbar-brand d-none d-lg-block" routerLink="/">
          <i class="bi bi-cart4" style="font-size: 35px; color: #0aad0a;"></i>
          <span class="fw-bold">Shoppingbuzz</span>
        </a>
        <span class="navbar-text"   *ngIf="router.url != '/login'">
            Already have an account? <button type="submit" class="btn btn-primary"
            routerLink="/login">Sign in</button>
          </span>
        <span class="navbar-text" type="button" *ngIf="router.url !== '/singup'">
            please create your  account?
            <button type="submit" class="btn btn-primary"  routerLink="/singup">Singup</button>
        </span>
      </div>
    </nav>
  </div>
<section class="my-lg-14 my-8"*ngIf="router.url === '/login'">
    <div class="container">
      <!-- row -->
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
          <!-- img -->
          <a class="navbar-brand d-none d-lg-block" routerLink="/">
            <i class="bi bi-cart4" style="font-size: 35px; color: #0aad0a;"></i>
            <span class="fw-bold">Shoppingbuzz</span>
          </a>
          </div>
        <!-- col -->
        <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1">
          <div class="mb-lg-9 mb-5">
            <h1 class="mb-1 h2 fw-bold">Sign in to FreshCart</h1>
            <p>Welcome back to FreshCart! Enter your email to get started.</p>
          </div>

          <form [formGroup]="loginForm"  (ngSubmit)="submitLogin()">
            <div class="row g-3">
              <!-- row -->

              <div class="col-12">
                <!-- input -->
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter email">
                  <div *ngIf="(loginerror['email'].touched || submitted) && loginerror['email'].errors" class="error text-capitalize">
                    <div *ngIf="loginerror['email'].errors['required']">Field is required</div>
                    <div *ngIf="loginerror['email'].errors['email']">Email must be a valid email address</div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <!-- input -->
                <div class="form-group">
                  <label for="password">Password</label>
                  <div class="password-field position-relative">
                  <input [type]="passwordFieldType" formControlName="password" class="form-control" id="password" placeholder="Enter password">
                  <span  class="position-absolute top-50 end-0 translate-middle-y pe-2" (click)="togglePasswordVisibility()">
                    <i [ngClass]="passwordFieldType === 'password' ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                  </span>
                 </div>
                 
                 <div *ngIf="(loginerror['password'].touched || submitted) && loginerror['password'].errors" class="error text-capitalize">
                  <div *ngIf="loginerror['password'].errors['required']">Field is required</div>
                  <div *ngIf="loginerror['password'].errors['minlength']">Password must be at least 10 characters long</div>
                </div>
            </div>
          

              </div>
              <div class="d-flex justify-content-between">
                <!-- form check -->
                <div class="form-check">
                  <!-- <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Remember me
                  </label> -->
                </div>
                <div> Forgot password? <a routerLink="/forgot-password">Reset It</a></div>
              </div>
              <!-- btn -->
              <div class="col-12 d-grid"> <button type="submit" class="btn btn-primary">Sign In</button>
              </div>
              <!-- link -->
              <div>Don’t have an account? <a routerLink="/singup"> Sign Up</a></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="my-lg-14 my-8" *ngIf="router.url == '/singup'">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row justify-content-center align-items-center">
        <!-- <div class="col-4 col-md-4 col-sm-4 order-lg-1 order-2">
        
          <img src="https://freshcart.codescandy.com/assets/images/svg-graphics/signup-g.svg" alt="" class="img-fluid">
        </div> -->
      
      
        <div class="col-sm-12 col-md-12 col-md-12">
          <div class="mb-lg-9 mb-5">
            <h1 class="mb-1 h2 fw-bold">Get Start Shopping</h1>
            <p>Welcome to FreshCart! Enter your email to get started.</p>
          </div>
          <form [formGroup]="signupForm" (ngSubmit)="onsignupSubmit()">
            <div class="row g-3 mb-3">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <input type="text" class="form-control" formControlName="firstName" placeholder="First name" aria-label="First name" required>
                <div *ngIf="(form['firstName'].touched || submitted) && form['firstName'].errors" class="error text-capitalize">
                  <div *ngIf="form['firstName'].errors['required']">Field is required</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <input type="text" formControlName="lastName" class="form-control" placeholder="Last name" aria-label="Last name" required>
                <div *ngIf="(form['lastName'].touched || submitted) && form['lastName'].errors" class="error text-capitalize">
                  <div *ngIf="form['lastName'].errors['required']">Field is required</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <input type="text" formControlName="mobileNo" class="form-control" placeholder="mobile number" aria-label="mobile number" required>
                <div *ngIf="(form['mobileNo'].touched || submitted) && form['mobileNo'].errors" class="error text-capitalize">
                  <div *ngIf="form['mobileNo'].errors['required']">Field is required</div>
                  <div *ngIf="form['mobileNo'].errors['pattern']">Mobile number must be 10 digits</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <input type="email" class="form-control" id="inputEmail4" formControlName="email" placeholder="Email" required>
                <div *ngIf="(form['email'].touched || submitted) && form['email'].errors" class="error text-capitalize">
                  <div *ngIf="form['email'].errors['required']">Field is required</div>
                  <div *ngIf="form['email'].errors['email']">Email must be a valid email address</div>
                </div>
              </div>
            </div>
            <div class="row g-3 mb-3" formArrayName="Address"  *ngFor="let address of addressControls; let i = index" [formGroupName]="i">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <input formControlName="Country" placeholder="Country" class="form-control">
                <div *ngIf="(address.get('Country')?.touched || submitted) && address.get('Country')?.errors" class="error text-capitalize">
                  <div *ngIf="address.get('Country')?.errors?.['required']">Field is required</div>

                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <input formControlName="State" placeholder="State" class="form-control">
                <div *ngIf="(address.get('State')?.touched || submitted) && address.get('State')?.errors" class="error text-capitalize">
                  <div *ngIf="address.get('State')?.errors?.['required']">Field is required</div>

                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <input formControlName="City" placeholder="City" class="form-control">
                <div *ngIf="(address.get('City')?.touched || submitted) && address.get('City')?.errors" class="error text-capitalize">
                  <div *ngIf="address.get('City')?.errors?.['required']">Field is required</div>

                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <input formControlName="Street" placeholder="Street" class="form-control">
                <div *ngIf="(address.get('Street')?.touched || submitted) && address.get('Street')?.errors" class="error text-capitalize">
                  <div *ngIf="address.get('Street')?.errors?.['required']">Field is required</div>

                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <input formControlName="Postcode" placeholder="Postcode" class="form-control">
                <div *ngIf="(address.get('Postcode')?.touched || submitted) && address.get('Postcode')?.errors" class="error text-capitalize">
                  <div *ngIf="address.get('Postcode')?.errors?.['required']">Field is required</div>

                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <input formControlName="addresstype" placeholder="Address Type" class="form-control">
                <div *ngIf="(address.get('addresstype')?.touched || submitted) && address.get('addresstype')?.errors" class="error text-capitalize">
                  <div *ngIf="address.get('addresstype')?.errors?.['required']">Field is required</div>

                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
            
                <div class="password-field position-relative">
                <input [type]="passwordFieldType" formControlName="password" class="form-control" id="password" placeholder="Enter password">
                <span  class="position-absolute top-50 end-0 translate-middle-y pe-2" (click)="togglePasswordVisibility()">
                  <i [ngClass]="passwordFieldType === 'password' ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                </span>
              
              </div>
              <div *ngIf="(form['password'].touched || submitted) && form['password'].errors" class="error text-capitalize">
                <div *ngIf="form['password'].errors['required']">Field is required</div>
                <div *ngIf="form['password'].errors['minlength']">Password must be at least 10 characters long</div>
              </div>
            </div>
            </div>
             
             
              <div class="col-12 d-grid">
                <button type="submit" class="btn btn-primary">Register</button>
              </div>
              <p><small>By continuing, you agree to our <a href="#!"> Terms of Service</a> & <a href="#!">Privacy Policy</a></small></p>
           
          </form>
          
        </div>
      </div>
    </div>


  </section>
