<div class="d-flex justify-content-between mt-4">

        <a (click)="addcart(item._id)" class="btn btn-primary btn-sm">
                <i class="bi bi-bag-plus-fill"></i>
                Add
        </a>

        <a (click)="Wishlist(item._id ,isInWishlist)"
                [ngClass]="{'wishlist-active': isInWishlist, 'wishlist-inactive': !isInWishlist}"
                class="btn btn-primary btn-sm">
                <i class="bi bi-heart"></i>
                <span *ngIf="isInWishlist === false">WishList</span>  
                <span *ngif="isInWishlist === true">Move To WishList</span> 
        </a>
        
        <a routerLink="['/product/',item?.SubCategoryId?._id]" class="btn btn-primary btn-sm">
                <i class="bi bi-eye"></i>
                View
        </a>

</div>
<!-- <div class="d-grid mt-4 btn-container">
        <a  (click)="addcart(item._id)" 
        class="btn btn-primary btn-sm "><i class="bi bi-bag-plus-fill"></i></a>
        <a routerLink="['/product/',item?.SubCategoryId?._id]" class="btn-action mb-1">
                <i
                class="bi bi-eye"></i></a>
          <a (click)="Wishlist(item._id ,isInWishlist)" class="btn-action mb-1"
          [ngClass]="{'wishlist-active': isInWishlist, 'wishlist-inactive': !isInWishlist}"
             data-bs-toggle="tooltip" title="Wishlist">
             <i class="bi bi-heart"></i>
          </a>
 </div> -->