<div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a *ngIf="isInCart === false" (click)="addcart(item._id,isInCart)" class="btn btn-primary btn-sm">
                Add <i class="bi bi-bag-plus-fill" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Quick View" data-bs-original-title="Quick View"></i></a>

        <a *ngIf="isInCart === true" routerLink="" class="btn btn-primary btn-sm ">
                Move <i class="bi bi-bag-plus-fill"></i> </a>


        <a *ngIf="isInWishlist === false" (click)="Wishlist(item._id ,isInWishlist)"
                [ngClass]="{'wishlist-active': isInWishlist}" class="btn btn-primary btn-sm">
                Add <i class="bi bi-heart"></i>

        </a>
        <a *ngIf="isInWishlist === true" (click)="Wishlist(item._id ,isInWishlist)"
                [ngClass]="{'wishlist-inactive': !isInWishlist}" class="btn btn-primary btn-sm">

                <i class="bi bi-heart"></i>
                Move

        </a>
        <a routerLink="['/product/',item?.SubCategoryId?._id]" class="btn btn-primary btn-sm">

                View <i class="bi bi-eye"></i>
        </a>

</div>
