<!-- <div class="col-lg-12 col-md-8 col-12">
  <div class="py-6 p-md-6 p-lg-10">
 
    <h2 class="mb-6 text-center">Your Orders</h2>

    <div class="d-none d-md-block table-responsive-xxl border-0">
  
      <table class="table mb-0 text-nowrap table-centered">
      
        <thead class="bg-light text-capitalize">
          <tr>
            <th>Product</th>
            <th>Status</th>
            <th>Brand</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of orderData; let i = index">
            <tr *ngFor="let order of data.products; let i = index">
              <td class="align-middle border-top-0">
                <a routerLink="product/{{data.id}}">
                  <img [src]="imagePath + order.productImage" class="icon-shape icon-xxl" alt="">
                  <span><small class="text-muted">{{order.productName}}</small></span>
                </a>
              </td>
              <td class="align-middle border-top-0">
                <h6 class="mb-0">{{data.return}}</h6>
              </td>
              <td class="align-middle border-top-0">
                {{order.brand}}
              </td>
              <td class="align-middle border-top-0">
                {{order.quantity}}
              </td>
              <td class="align-middle border-top-0">
                <h6 class="mb-0">{{order.price}}</h6>
              </td>
             
              <td class="align-middle border-top-0">
                <h6 class="mb-0">{{order.price * order.quantity}}</h6>
              </td>
            </tr>
            <tr>
              <td  colspan="3"  class="text-capitalize align-middle border-top-0 fw-bolder">
                <button  (click)="openModal(template,data.id ,'Cancel')" class="me-2 btn btn-primary">Cancel</button>
                <button   (click)="openModal(template,data.id ,'Return')" class="btn btn-primary">Return</button>
              </td>
              <td class="text-capitalize border-top-0 text-end fw-bolder">Paid Amount</td>
              <td class="text-capitalize border-top-0 text-end fw-bolder">
                <h6>{{data.totalPrice}}</h6>
              </td>
            </tr>
            
            
            <tr>
             
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    
    <div class="d-block d-md-none m-3">
      <ng-container *ngFor="let data of orderData; let i = index">
        <div *ngFor="let order of data.products; let i = index" class="card mb-3">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <img [src]="imagePath + order.productImage" class="img-fluid rounded me-3" style="width: 50px;" alt="">
              <div>
                <h5 class="card-title mb-1">{{order.productName}}</h5>
                <p class="card-text mb-0"><small class="text-muted">{{order.brand}}</small></p>
              </div>
            </div>
            <p class="card-text mt-3"><strong>Quantity:</strong> {{order.quantity}}</p>
            <p class="card-text"><strong>Price:</strong> {{order.price}}</p>
            <p class="card-text"><strong>Total:</strong> {{order.price * order.quantity}}</p>
          </div>
          
        </div>
        <div class="card mt-3 mb-3">
          <div class="card-body">
            <h5 class="card-title text-capitalize text-end fw-bolder">Paid Amount</h5>
            <h6 class="card-text text-end">
              <h6>{{data.totalPrice}}</h6>
            </h6>
            <button  (click)="openModal(template,data.id ,'Cancel')" class="me-2 btn btn-primary">Cancel</button>
            <button   (click)="openModal(template,data.id ,'Return')" class="btn btn-primary">Return</button>

          </div>
        </div>
      </ng-container>
    
    </div>
    
  </div>
</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row"*ngFor="let data of modalData; let i = index">
      
      <div class="col-6" *ngFor="let order of data.products; let j = index">
            <div class="card mb-3" >
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <img [src]="imagePath + order.productImage" class="img-fluid rounded me-3" style="width: 50px;" alt="">
                  <div>
                    <h5 class="card-title mb-1">{{order.productName}}</h5>
                    <p class="card-text mb-0"><small class="text-muted">{{order.brand}}</small></p>
                  </div>
                </div>
                <p class="card-text mt-3"><strong>Quantity:</strong> {{order.quantity}}</p>
                <p class="card-text"><strong>Price:</strong> {{order.price}}</p>
                <p class="card-text"><strong>Total:</strong> {{order.price * order.quantity}}</p>
              </div>
            </div>
            
      
      </div>
      <div class="card mt-3 mb-3">
        <div class="card-body">
          <h5 class="card-title text-capitalize text-end fw-bolder">Paid Amount</h5>
          <h6 class="card-text text-end">
            <h6>{{data.totalPrice}}</h6>
          </h6>
        </div>
      </div>
      <form>
        <div class="mb-3">
          <label for="message-text" class="col-form-label">Reason:</label>
          <textarea class="form-control" [(ngModel)]="msg" id="msg"
          [ngModelOptions]="{standalone: true}" spellcheck="true"
          ></textarea>
        </div>
      </form>
     

  <div class="modal-footer">
    <button   class="btn btn-primary" (click)="cancel_return(data.id)">Cancel Order</button>
    <button class="btn btn-primary" (click)="Closed()">Closed</button>
  </div>
</div>
  </div>
   
  
  
</ng-template>

<div class="col-lg-12 col-md-8 col-12">
  <div class="py-6 p-md-6 p-lg-10">
    <tabset>
      <tab heading="Order" id="tab1">
        <div class="d-none d-md-block table-responsive-xxl border-0">
      
          <h3>Orders</h3>
          <table class="table mb-0 text-nowrap table-centered">
            <thead class="bg-light text-capitalize">
              <tr>
                <th>Product</th>
                <th>Status</th>
                <th>Brand</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let data of orderData; let i = index">
                <tr *ngFor="let order of data.products; let j = index" >
                  <td class="align-middle border-top-0" *ngIf="!data.status[0].cancel">
                    <a routerLink="product/{{data.id}}">
                      <img [src]="imagePath + order.productImage" class="icon-shape icon-xxl" alt="">
                      <span><small class="text-muted">{{order.productName}}</small></span>
                    </a>
                  </td>
                  <td class="align-middle border-top-0">
                    <h6 class="mb-0">{{data.status[0].return ? 'Returned' : 'Active'}}</h6>
                  </td>
                  <td class="align-middle border-top-0">
                    {{order.brand}}
                  </td>
                  <td class="align-middle border-top-0">
                    {{order.quantity}}
                  </td>
                  <td class="align-middle border-top-0">
                    <h6 class="mb-0">{{order.price}}</h6>
                  </td>
                  <td class="align-middle border-top-0">
                    <h6 class="mb-0">{{order.price * order.quantity}}</h6>
                  </td>
                </tr>
                <tr *ngIf="!data.status[0].return">
                  <td colspan="3" class="text-capitalize align-middle border-top-0 fw-bolder">
                    <button (click)="openModal(template,data.id ,'Cancel')" class="me-2 btn btn-primary">Cancel</button>
                    <button (click)="openModal(template,data.id ,'Return')" class="btn btn-primary">Return</button>
                  </td>
                  <td class="text-capitalize border-top-0 text-end fw-bolder">Paid Amount</td>
                  <td class="text-capitalize border-top-0 text-end fw-bolder">
                    <h6>{{data.totalPrice}}</h6>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        
        <div class="d-block d-md-none m-3">
          <ng-container *ngFor="let data of orderData; let i = index">
            <div *ngFor="let order of data.products; let j = index" class="card mb-3">
              <div class="card-body" *ngIf="data.status[0].return">
                <div class="d-flex align-items-center">
                  <img [src]="imagePath + order.productImage" class="img-fluid rounded me-3" style="width: 50px;" alt="">
                  <div>
                    <h5 class="card-title mb-1">{{order.productName}}</h5>
                    <p class="card-text mb-0"><small class="text-muted">{{order.brand}}</small></p>
                  </div>
                </div>
                <p class="card-text mt-3"><strong>Quantity:</strong> {{order.quantity}}</p>
                <p class="card-text"><strong>Price:</strong> {{order.price}}</p>
                <p class="card-text"><strong>Total:</strong> {{order.price * order.quantity}}</p>
              </div>
            </div>
            <div class="card mt-3 mb-3" *ngIf="!data.status[0].return">
              <div class="card-body">
                <h5 class="card-title text-capitalize text-end fw-bolder">Paid Amount</h5>
                <h6 class="card-text text-end">{{data.totalPrice}}</h6>
                <button (click)="openModal(template,data.id ,'Cancel')" class="me-2 btn btn-primary">Cancel</button>
                <button (click)="openModal(template,data.id ,'Return')" class="btn btn-primary">Return</button>
              </div>
            </div>
          </ng-container>
        </div>
      </tab>
      <tab heading="Returned Orders">
        <div class="d-none d-md-block table-responsive-xxl border-0">
      
          <h3>Returned Orders</h3>
          <table class="table mb-0 text-nowrap table-centered">
            <thead class="bg-light text-capitalize">
              <tr>
                <th>Product</th>
                <th>Status</th>
                <th>Brand</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let data of orderData; let i = index">
                <tr *ngFor="let order of data.products; let j = index" >
                  <td class="align-middle border-top-0" *ngIf="!data.status[0].cancel">
                    <a routerLink="product/{{data.id}}">
                      <img [src]="imagePath + order.productImage" class="icon-shape icon-xxl" alt="">
                      <span><small class="text-muted">{{order.productName}}</small></span>
                    </a>
                  </td>
                  <td class="align-middle border-top-0">
                    <h6 class="mb-0">{{data.status[0].return ? 'Returned' : 'Active'}}</h6>
                  </td>
                  <td class="align-middle border-top-0">
                    {{order.brand}}
                  </td>
                  <td class="align-middle border-top-0">
                    {{order.quantity}}
                  </td>
                  <td class="align-middle border-top-0">
                    <h6 class="mb-0">{{order.price}}</h6>
                  </td>
                  <td class="align-middle border-top-0">
                    <h6 class="mb-0">{{order.price * order.quantity}}</h6>
                  </td>
                </tr>
                <tr *ngIf="!data.status[0].return">
                  <td colspan="3" class="text-capitalize align-middle border-top-0 fw-bolder">
                    <button (click)="openModal(template,data.id ,'Cancel')" class="me-2 btn btn-primary">Cancel</button>
                    <button (click)="openModal(template,data.id ,'Return')" class="btn btn-primary">Return</button>
                  </td>
                  <td class="text-capitalize border-top-0 text-end fw-bolder">Paid Amount</td>
                  <td class="text-capitalize border-top-0 text-end fw-bolder">
                    <h6>{{data.totalPrice}}</h6>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        
        <div class="d-block d-md-none m-3">
          <ng-container *ngFor="let data of orderData; let i = index">
            <div *ngFor="let order of data.products; let j = index" class="card mb-3">
              <div class="card-body" *ngIf="data.status[0].return">
                <div class="d-flex align-items-center">
                  <img [src]="imagePath + order.productImage" class="img-fluid rounded me-3" style="width: 50px;" alt="">
                  <div>
                    <h5 class="card-title mb-1">{{order.productName}}</h5>
                    <p class="card-text mb-0"><small class="text-muted">{{order.brand}}</small></p>
                  </div>
                </div>
                <p class="card-text mt-3"><strong>Quantity:</strong> {{order.quantity}}</p>
                <p class="card-text"><strong>Price:</strong> {{order.price}}</p>
                <p class="card-text"><strong>Total:</strong> {{order.price * order.quantity}}</p>
              </div>
            </div>
            <div class="card mt-3 mb-3" *ngIf="!data.status[0].return">
              <div class="card-body">
                <h5 class="card-title text-capitalize text-end fw-bolder">Paid Amount</h5>
                <h6 class="card-text text-end">{{data.totalPrice}}</h6>
                <button (click)="openModal(template,data.id ,'Cancel')" class="me-2 btn btn-primary">Cancel</button>
                <button (click)="openModal(template,data.id ,'Return')" class="btn btn-primary">Return</button>
              </div>
            </div>
          </ng-container>
        </div>
      
      </tab>
     
    </tabset>
  

  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row" *ngFor="let data of modalData; let i = index">
      <div class="col-6" *ngFor="let order of data.products; let j = index">
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <img [src]="imagePath + order.productImage" class="img-fluid rounded me-3" style="width: 50px;" alt="">
              <div>
                <h5 class="card-title mb-1">{{order.productName}}</h5>
                <p class="card-text mb-0"><small class="text-muted">{{order.brand}}</small></p>
              </div>
            </div>
            <p class="card-text mt-3"><strong>Quantity:</strong> {{order.quantity}}</p>
            <p class="card-text"><strong>Price:</strong> {{order.price}}</p>
            <p class="card-text"><strong>Total:</strong> {{order.price * order.quantity}}</p>
          </div>
        </div>
      </div>
      <div class="card mt-3 mb-3">
        <div class="card-body">
          <h5 class="card-title text-capitalize text-end fw-bolder">Paid Amount</h5>
          <h6 class="card-text text-end">{{data.totalPrice}}</h6>
        </div>
      </div>
      <form>
        <div class="mb-3">
          <label for="message-text" class="col-form-label">Reason:</label>
          <textarea class="form-control" [(ngModel)]="msg" id="msg" [ngModelOptions]="{standalone: true}" spellcheck="true"></textarea>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="cancel_return(data.id)">Cancel Order</button>
      <button class="btn btn-primary" (click)="Closed()">Closed</button>
    </div>
  </div>
</ng-template>
import { HttpClient, HttpHeaders } from '@angular/common/http';
import { Injectable, OnInit } from '@angular/core';
import { BehaviorSubject, Observable, Subject, map } from 'rxjs';
import { environment } from 'src/environments/environment';

@Injectable({
  providedIn: 'root',
})
export class CommonService implements OnInit {
  public subjectOBJ = new Subject<any>();
  private cardCountSubject: BehaviorSubject<number> = new BehaviorSubject<number>(0);
  cardCount$: Observable<number> = this.cardCountSubject.asObservable();

  private wishlistCountSubject: BehaviorSubject<number> = new BehaviorSubject<number>(0);
  wishlistCount$: Observable<number> = this.wishlistCountSubject.asObservable();

  private searchSubject = new BehaviorSubject<any[]>([]);
  public searchData$: Observable<any[]> = this.searchSubject.asObservable();

  private orderStatussubject = new BehaviorSubject<any[]>([]);
  public orderStatussubjec$: Observable<any[]> = this.orderStatussubject.asObservable();

  constructor(private http: HttpClient) {}

  ngOnInit(): void {}


  

  getCategory(): Observable<any> {
    return this.http.get(environment.baseUrl + 'getcategory');
  }

  getSubCategory(): Observable<any> {
    return this.http.get(environment.baseUrl + 'viewSubcategory', );
  }

  getAll(): Observable<any> {
    return this.http.get(environment.baseUrl + 'getall', );
  }

  getCarousel(): Observable<any> {
    return this.http.get(environment.baseUrl + 'getcarousle', );
  }

  getCardCarousel(): Observable<any> {
    return this.http.get(environment.baseUrl + 'getcardcarousel', );
  }

  addToCart(data: any): Observable<any> {
    return this.http.post(environment.baseUrl + 'cart/addtocart', data, );
  }

  onUpdateCart(data: any): Observable<any> {
    return this.http.put(environment.baseUrl + 'cart/updatecart', data, );
  }

  getProduct(): Observable<any> {
    return this.http.get(environment.baseUrl + 'viewProducts', );
  }

  addToWishlist(data: any): Observable<any> {
    return this.http.post(environment.baseUrl + 'wishlist/createwishlist', data, );
  }

  getProductToCart(userId: any): Observable<any> {
    return this.http.get(environment.baseUrl + 'cart/getcart/' + userId, )
      .pipe(map((response: any) => {
        const productCount = response.productCount;
        this.cardCountSubject.next(productCount);
        console.log('Updated cartState', this.cardCountSubject.value);
        return response;
      }));
  }

  getWishlist(userId: any): Observable<any> {
    return this.http.get(environment.baseUrl + 'wishlist/getwishlist/' + userId, )
      .pipe(map((response: any) => {
        const listCount = response.ListCount;
        this.wishlistCountSubject.next(listCount);
        console.log('Updated wishlistState', this.wishlistCountSubject.value);
        return response;
      }));
  }

  orderCreate(order: any): Observable<any> {
    return this.http.post(environment.baseUrl + 'order/createorder', order, );
  }

  getOrder(userId: any): Observable<any> {
    return this.http.get(environment.baseUrl + 'order/getorderbyuserId/' + userId, );
  }

  deleteWishlistProd(userId: any, productId: any): Observable<any> {
    console.log(productId);
    return this.http.delete(environment.baseUrl + 'wishlist/deletewishlist/' + userId + '/' + productId, )
      .pipe(map((response: any) => {
        this.subjectOBJ.next(response);
        return response;
      }));
  }

  deleteCartItem(userId: any, productId: any): Observable<any> {
    return this.http.delete(environment.baseUrl + 'cart/deletecartitem/' + userId + '/' + productId, )
      .pipe(map((response: any) => {
        this.subjectOBJ.next(response);
        return response;
      }));
  }

  deleteCartItemByUserId(userId: any): Observable<any> {
    return this.http.delete(environment.baseUrl + 'cart/deleteByuId/' + userId, )
      .pipe(map((response: any) => {
        this.subjectOBJ.next(response);
        return response;
      }));
  }

  searchData(data: any): Observable<any> {
    return this.http.get(`${environment.baseUrl}search?searchValue=${data}`, )
      .pipe(map((response: any) => {
        this.searchSubject.next(response);
        return response;
      }));
  }

  getSearchObservable(): Observable<any> {
    return this.searchSubject.asObservable();
  }

  updateSearchResults(results: any[]): void {
    console.log("*****", results);
    this.searchSubject.next(results);
    console.log(results);
  }

  updateOrderStatus(orderId: any, data: any): Observable<any> {
    return this.http.put(environment.baseUrl + 'order/update-status/' + orderId, data, )
      .pipe(map((response: any) => {
        this.orderStatussubject.next(response);
        return response;
      }));
  }
} -->
