@media (min-width:320px) and (max-width:425px){
    .input-group {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 220%;
    }
    .w{
        width: 45%;
    }
}

@media (min-width:768px) and (max-width:1024px){

    .input-group {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 220%;
    }
}
.slick-slider .slick-slide {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.slick-initialized .slick-slide {
    display: block;
}
.navbar .dropdown .dropdown-toggle:after {
    background-repeat: no-repeat;
    background-size: .625rem .625rem;
    border: none;
    color: var(--fc-gray-600);
    content: "\f12f";
    float: right;
    font-family: feather-icons !important;
    margin-left: .375rem;
    display: none;
  }
  @media (max-width: 992px) {
    .img-fluid, .img-thumbnail {
      display: block;
      width: 150px;
      height: 150px;
      object-fit: inherit;
      object-position: inherit;
  }
  .navbar .dropdown .dropdown-toggle:after {
    background-repeat: no-repeat;
    background-size: .625rem .625rem;
    border: none;
    color: var(--fc-gray-600);
    content: "\f12f";
    float: right;
    font-family: feather-icons !important;
    margin-left: .375rem;
    display: none;
  }
  .py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    width: 280px;
}

}