<section class="mt-8 mb-14">
    <div class="container">
      <div class="row" *ngIf="wishlist?.length <=0">
        <div class="col-lg-12">
          <h1>Hey it feels so lightweight.</h1>
          <p>please wish your  something and enjoy yo</p>
        </div>
      </div>
      <!-- row -->
      <div class="row" class="d-none d-md-block table-responsive-xxl border-0"
       *ngIf="wishlist?.length>0" >
        <div class="col-lg-12">
          <div class="mb-8">
            <!-- heading -->
            <h1 class="mb-1">My Wishlist</h1>
            <p>There are {{wishlist.length}} products in this wishlist.</p>
          </div>
          <div>
            <!-- table -->
            <div class="table-responsive">
              <table class="table text-nowrap table-with-checkbox">
                <thead class="table-light">
                  <tr>
                    <th>
                      <!-- form check -->
                      <div class="form-check">
                        <!-- input --><input class="form-check-input" type="checkbox" value="" id="checkAll">
                        <!-- label --><label class="form-check-label" for="checkAll">

                        </label>
                      </div>
                    </th>
                    <th></th>
                    <th>Product</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Actions</th>
                    <th>Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of wishlist">

                    <td class="align-middle">
                      <!-- form check -->
                      <div class="form-check">
                        <!-- input --><input class="form-check-input" type="checkbox" value="" 
                        id="chechboxSix">
                        <!-- label --><label class="form-check-label" for="chechboxSix">

                        </label>
                      </div>

                    </td>
                    <td class="align-middle">
                      <a href="#"><img [src]="imagePath+data.productId?.productImage"class="icon-shape icon-xxl" alt=""></a>

                    </td>
                    <td class="align-middle">
                      <div>
                        <h5 class="fs-6 mb-0"><a href="#" class="text-inherit">{{data.productId.productname}}</a></h5>
                        <!-- <small>2 kg</small> -->
                      </div>
                    </td>
                    <td class="align-middle">{{data.productId.price}}</td>
                    <td class="align-middle"><span class="badge bg-success">In Stock</span></td>
                    <td class="align-middle">
                      <a class="btn btn-primary btn-sm" (click)="addtocart(data.productId._id)">Add to Cart</a>
                    </td>
                    <td class="align-middle "><a (click)="deleteWishlist(data.productId._id)" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Delete" data-bs-original-title="Delete">
                        <i class="bi bi-trash"></i>
                      </a></td>
                  </tr>

                </tbody>
              </table>
            </div>

          </div>
        </div>

      </div>
      <div class="d-block d-md-none m-3" *ngIf="wishlist?.length>0">
        <ng-container  *ngFor="let data of wishlist" >
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <img  [src]="imagePath+data.productId?.productImage"class="img-fluid rounded me-3" style="width: 50px;">
                <div>
                  <h5 class="card-title"><a [routerLink]="['/product',data.productId._id]">{{data.productId.productname}}</a></h5>
                  <p class="card-text mb-0"><small class="text-muted">{{data.productId.brand}}</small></p>
                </div>
              </div>
              <p class="card-text"><strong>Price:</strong> {{data.productId.price}}</p>
            </div>
            <div class="card-footer bg-transparent border-success">
              <button (click)="addtocart(data.productId._id)" 
                class="btn btn-danger"><i class="bi bi-trash fs-4"></i></button>
              <button (click)="deleteWishlist(data.productId._id)" 
              class="btn btn-primary"><i class="bi bi-cart2 fs-4"></i></button>
        
            </div>
          </div>
        </ng-container>
      </div>



    </div>

  </section>
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box"
[fullScreen]="true">
  <span style="color: white; display: flex; align-items: center;">
    <i class="bi bi-cart4" style="font-size: 24px; margin-right: 10px;"></i>
    Loading...
  </span>
</ngx-spinner>
