<section class="mt-8 mb-14">
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-lg-12">
          <div class="mb-8">
            <!-- heading -->
            <h1 class="mb-1">My Wishlist</h1>
            <p>There are 5 products in this wishlist.</p>
          </div>
          <div>
            <!-- table -->
            <div class="table-responsive">
              <table class="table text-nowrap table-with-checkbox">
                <thead class="table-light">
                  <tr>
                    <th>
                      <!-- form check -->
                      <div class="form-check">
                        <!-- input --><input class="form-check-input" type="checkbox" value="" id="checkAll">
                        <!-- label --><label class="form-check-label" for="checkAll">

                        </label>
                      </div>
                    </th>
                    <th></th>
                    <th>Product</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Actions</th>
                    <th>Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of wishlist">

                    <td class="align-middle">
                      <!-- form check -->
                      <div class="form-check">
                        <!-- input --><input class="form-check-input" type="checkbox" value="" 
                        id="chechboxSix">
                        <!-- label --><label class="form-check-label" for="chechboxSix">

                        </label>
                      </div>

                    </td>
                    <td class="align-middle">
                      <a href="#"><img [src]="imagePath+data.productId?.productImage"class="icon-shape icon-xxl" alt=""></a>

                    </td>
                    <td class="align-middle">
                      <div>
                        <h5 class="fs-6 mb-0"><a href="#" class="text-inherit">{{data.productId.productname}}</a></h5>
                        <!-- <small>2 kg</small> -->
                      </div>
                    </td>
                    <td class="align-middle">{{data.productId.price}}</td>
                    <td class="align-middle"><span class="badge bg-success">In Stock</span></td>
                    <td class="align-middle">
                      <a class="btn btn-primary btn-sm" (click)="addtocart(data.productId._id)">Add to Cart</a>
                    </td>
                    <td class="align-middle "><a href="#" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Delete" data-bs-original-title="Delete">
                        <i class="feather-icon icon-trash-2"></i>
                      </a></td>
                  </tr>

                </tbody>
              </table>
            </div>

          </div>
        </div>

      </div>



    </div>

  </section>
